:root {
    --iris:#4D5AE5;
    --navy-blue-color:#2E2F42;
    --ocean:#404BBF;
    --cloud:#F4F4FD;
    --white:#FFFFFF;
    --cornflower : #E7E9FC;
    --slate: #434455;
}

h1, h2, p, ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  } 

.list {
    list-style: none;
}
.link  {
    text-decoration: none;
}

.body-inf {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--navy-blue-color);
}

.container {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

/* header */

.main-header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--white);
}

.page-header-container {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.logo-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: var(--iris);
}
.logo-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue-color);
    margin-right: 76px ;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
}

.menu-item:not(:last-child) {
    margin-right: 20px;
}

.contact-link:active,
.menu-link:active,
.menu-link:hover, 
.contact-link:hover,
.menu-link:focus, 
.contact-link:focus{
    color: var(--ocean);
}

.menu-list-contacts {
    display: flex;
    align-items: center;
}

.contact-mail {
    margin-right: 40px;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* MAIN */

.section-main {
    background: var(--navy-blue-color);
    text-align: center;
}

.main-headline {
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: var(--white);
    padding-top: 188px;
    padding-bottom: 48px;
    
}

.list-imgs-whtrwedng {
    display: flex;
    
}

.not-main-headline {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
}

.modal-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    background: var(--iris);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 204px;
}

.modal-btn:hover,
.modal-btn:focus {
    background: var(--ocean);
}

.headline-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/* ABOUT US */

.section-about-us {
    padding-bottom: 120px;
    padding-top: 120px;
}

.about-us {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
}

.list-about-us {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.section-our-team {
    background-color: var(--cloud);
}

/* TEAM */

.our-team-headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.card-of-emp {
    background-color: var(--white);
}

.name-emp {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.job-tittle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}

/* FOOTER */

.footer {
    background-color: var(--navy-blue-color);
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cornflower);
}
.logo-studio-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 0.85;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}

/* for portfolio*/

/* MODAL LIST BUTTON */

.modal-btn-list {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background: var(--cloud);
    cursor: pointer;
}

.modal-btn-list:hover,
.modal-btn-list:focus{
    color: var(--white);
    background: var(--ocean);
}

/* LIST OF PROJECTS */

.mini-headlines-lst-prj {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue-color);
}

.name-of-prjct {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate);
}

.list-projects:hover {
    cursor: pointer;
}